$primary: hsl(172, 67%, 45%);
$darkcyan: hsl(183, 100%, 15%);
$darkgrayishcyan: hsl(186, 14%, 43%);
$grayishcyan: hsl(184, 14%, 56%);
$lightcyan: hsl(185, 41%, 84%);
$verylightcyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);
